---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ name }}
  labels:
    name: {{ name }}
    created-by: {{ email }}
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: {{ name }}_ns-full-access 
  namespace: {{ name }}
rules:
- apiGroups: ["", "extensions", "apps"]
  resources: ["*"]
  verbs: ["*"]
- apiGroups: ["batch"]
  resources:
  - jobs
  - cronjobs
  verbs: ["*"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: {{ name }}-{{ name }}_ns-full-access
  namespace: {{ name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ name }}_ns-full-access
subjects:
- kind: User
  namespace: {{ name }}
  name: {{ id }}