location = ""
resource_group_name = ""
resource_suffix = ""
cluster_name = ""
aad_tenant_id = ""
cluster_support_db_admin_password = ""
admin_group_object_ids=""
grafana_image_name = ""
grafana_admin_password = ""
monitoring_reader_sp_client_id = ""
monitoring_reader_sp_client_secret = ""
app_name = ""
github_user = ""
github_pat = ""
