cluster_name =
resource_group_name =
admin_group_object_ids =
aad_tenant_id =
k8s_subnet_id =
aci_network_profile_id =
grafana_admin_password =
acr_name =
grafana_image_name =
key_vault_id =
cluster_support_db_admin_password =
subscription_id =
aci_subnet_id =
monitoring_reader_sp_client_id =
monitoring_reader_sp_client_secret =
user_assigned_identity_resource_id =
cluster_database_name =
