resource_group_name =
location =
subscription_id =
tenant_id =
aad_tenant_id =
cluster_name =
admin_group_object_ids =
k8s_subnet_id =
user_assigned_identity_resource_id =

key_vault_id =

#grafana
acr_name =
grafana_image_name =
grafana_admin_password =
monitoring_reader_sp_client_id =
monitoring_reader_sp_client_secret =

# postgres
cluster_database_name =
cluster_support_db_admin_password =
aci_subnet_id =
aci_network_profile_id =
