# general
cluster_name =
location =
subscription_id =
tenant_id =
aad_tenant_id =
key_vault_id =

# postgres
cluster_support_db_admin_password =
aci_subnet_id =

# aks
k8s_subnet_id =
admin_group_object_ids =
user_assigned_identity_resource_id =

#grafana
grafana_admin_password =
aci_network_profile_id =
acr_name =
monitoring_reader_sp_client_id =
monitoring_reader_sp_client_secret =
