cluster_name = "magicaks"
k8s_manifest_repo = "k8smanifests"
k8s_workload_repo = "k8sworkloads"
resource_group_name = "magicaks"
app_name = "app1"
k8s_subnet_id = ""
keyvault_id = ""
firewall_hop_ip = ""
ghuser = ""
location = ""